.container {
  padding: 20px;
}
.agreement-title {
  width: 100%;
  height: 65px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 65px;
  color: #3e84e9;
  letter-spacing: 1px;
}

.agreement {
  max-height: calc(100vh - 387px);
  overflow: auto;
  color:#666;
  line-height: 25px;
}
.agreement a{
  color:#3e84e9;
}
.agreement p{
  color: #000;
}

.agree-btn {
  width: 120px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  border-radius: 40px;
  background-color: #3e84e9;
  margin: 30px auto 0;
  cursor: pointer;
}
